$noir: #000000;

$scroll: #0000001a;

$blanc: #ffffff;
$blancL: #ffffff0d;

$rouge: #eb001b;
$orange: #ffa500;

$gris: #e5e5e5b3;
$grisF: #e5e5e5;
$grisL: #a49c9c;
$grisArticle: #ebeaea;
$grisModal: #d9d9d9;

$overlay: #333333d3;
$overlay404: rgba(0, 0, 0, 0.5);
$blur: #ffffff80;

$add: #198754;
$edite: #0d6efd;
$delete: #dc3545;

$blinker: "Blinker", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Inter: "Inter", sans-serif;

$desktop-L: 1610px;
$desktop-L2: 1460px;
$desktop: 1389px;
$desktop-S: 1280px;
$tablette-3L: 1270px;
$tablette-4XL: 1202px;
$tablette-3XL: 1140px;
$tablette-2XL: 1124px;
$tablette-XL: 1120px;
$tablette-L1: 1080px;
$tablette-L1-2: 1000px;
$tablette-L2: 940px;
$tablette-L: 920px;
$tablette-L-M: 820px;
$tablette-L-M2: 750px;
$tablette-M: 720px;
$tablette-M1: 620px;
$tablette-M-S: 640px;
$tablette-M-S1: 570px;
$tablette-M-S2: 540px;
$tablette-S: 520px;
$tablette-XS: 490px;
$tablette-XXS: 450px;
$tablette-2XS: 410px;
$tablette-3XS: 400px;
$mobile: 390px;
$mobile-XL: 360px;
$mobile-L: 345px;
$mobile-XS: 325px;
$mobile-S: 300px;
